.main{
  width: 60vw;
  background-color: black;
  color: white;
  margin: 20px 15vw 0px 15vw;
  border-radius: 20px;
  padding: 10px;
}
li{
  border: 12px solid yellow;
  width: 40vw;
  margin: 70px;
  padding: 50px;
}
button{
  background-color: blue;
  border: none;
  color: white;
  display: block;;
  margin: 10px 0px 10px 200px ;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}